<!DOCTYPE html>
<html>
    <head>
        <title>Ledger Quick Note</title>
    </head>
    <body>
        <h1>Ledger Quick Note</h1>
        <form action="/new" method="POST">
            <label>Action: <select name="action">
                {{ range .Templates }}
                <option value="{{ .Name }}">{{ .Name }}</option>
                {{ end }}
                </select></label><br>
            <label>Amount: <input name="amount" type="number"></label><br>
            <label>Account: <input name="account" type="text"></label></br>
            <label>Tx Name: <input name="name" type="text"></label></br>
            <input type="submit">
        </form>
    </body>
</html>
